@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 10rem;
  background: #3b5998;
  display: grid;
  top: 0;
  z-index: 1;
   position: sticky;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
   
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  color: #9afa01;

  justify-content: start;
  align-items: center;
}
.logo_he{
  font-size: 45px;
  color: rgb(129, 223, 22);
}
.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

 

 

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
   color: #ff0000;
   font-size: 30px;
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  border-radius: 8%;
   color: white;
  text-decoration: none;
  background: #50eff5;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

.notification {
  color:red;
  font-size: 40px;
  
}

.add {
  color: #ff0000;
  font-size: 40px;
}

.btn{
  color:white;
  font-size: 25px;
  background-color: #ff0000;
} 

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 9rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 4rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 3rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 2rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

   
}
    /*footer part*/
   .footer{
    background: #3b5998;

   }
   .footer__text{
    color: white; 
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
   }
   .since{
    color: rgb(91, 212, 35);
    font-size: 30px;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
   }
   .footer_links{
    background: #3b5998;
   }
   .footer_title{
     color: #ff0000;
     font-size: 30px;
     text-align: center;
     padding-top: 20px;
   }
   
   .links_footer{
    color: white;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 50px;
    text-decoration: none;
    transform: none;
    font-size: 20px
    
   }
   .contactus{
    padding-top: 33px;
   }
   .footer_box{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    background: #3b5998;
   }
   .footer__copyright{
     color: white; 
     text-align: center;
     font-size: 30px;
     margin: 20px;
   }
    .links_footer:hover{
       background: #0cdb5c;
       font-size: 30px;
       text-decoration: none;
       color: #ff0000;
       border-radius: 7%;
      }
      /*carousal*/
      .carousal_img{
         height: 60vh;
         width: 100%;
      }
      Carousel{
        background-image: url("../images/background.png");
      }
      .delivery_icon{
        display: flex;
        border-radius: 5%;
        width: auto;
        height: 10vh;
        background: #94e0e2;
        justify-content:space-around;
      
      }
      .return_icon{
        display: flex;
        width: auto;
        height: 10vh;
        border-radius: 5%;
        background: pink;
        justify-content:space-around;
      }
      
     .container{
      padding: 20px;

     }
     i{
      box-sizing: border-box;
      font-size: 30px;
      color: #ff0000;
      
      align-items: center;
      padding-top: 12px;
     }
     h3{
      align-items: center;
      padding: 15px;
      color: black;
      font-size: 15px;
     }
     p{
      align-items: center;
      padding-left: 12px;
      color: black;
      font-size: 10px;
     }
     .trading{
      box-sizing: border-box;
      background: #91a4f5;
      text-align: center;
      color: white;
      align-items: center;
      font-size: 30px;
      padding: 10px;
     }
     /*  home cloths*/
      
     
     .cloths_img{
      width: 348px;
      height: 200px;
     }
     .p_name{
      color: black;
      font-size: 15px;
      width: 350px;
     }
     .h_name{
      color: #3b5998;
      font-size: 22px;
      width: 350px;
     }
     /* contact part*/
     .text_msg{
      background: rgb(8, 29, 97);
      
      text-align: center;
      height: auto;
        
     }
     .form-md{
      background: rgb(8, 29, 97);
     }
     .about_section{
      background: rgb(8, 29, 97);
      display: flex;
      justify-content:space-between;
      height: 100%;
     }
     .about_hii {
      color: white;
      padding-top: 10px;
      font-size: 30px;
      
     }
     .about_p{
      box-sizing: border-box;
      width: 500px;
      height: 350px;
      padding: 20px;
      margin: 10px;
     }
     .about_me{
      padding: 10px ;
      margin: 15px ;
      align-items: center;
      text-align: center;
      font-size: 40px;
      padding-left:9px;
      color: white;

     }
     .about_content{
       text-align: center;
       color: white;
       padding-left: 15px;
       font-size: 35px;
     
       padding: 0 15px;
     }

     .about_contant{
      color: white;
      font-size: 20px;
     }
     .about_info{
      padding: 5px;
      text-align: start;
      margin-left: 10px;
     }
     strong{
      color: #ff4a57;
      font-size: 15px;
  
     }
     p{
      color: white;
      font-size: 15px;
     }
    
      #Eemail, #Uname{
        margin-left: 50px;
        height: 20px;
        width: 100px;
        font-size: 10px;
        color: #3b5998;
      }
      .contact_me{
        color: white;
        font-size: 35px;
        text-align: center;
        padding: 0 30px;
      }
     label{
       font-size: 20px;
      color: rgb(241, 18, 18);
      text-align: center;
     }
     .mailclass{
      margin: 25px;

     }
     /*login part */
     .login_section{
      
       background-image: url("../images/background.png");
     }
     /*delivery_icon part*/
     form {
      border: 3px solid #f1f1f1;
    }
    
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    
    /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the avatar image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    /* Avatar image */
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
    }
    
    /* The "Forgot password" text */
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
    }
    .section_p{
      background-image: url("../images/background.png");
    }
    .Login_design{
      padding: 20px 30px;
      margin: 10px;
      color: #e6370c;
    
      font-weight: 400;
      font-size: 52px;
    }
    .P-login{
      padding:20px;
      margin: 20px;
      
      letter-spacing: 1px;
      font-size: 25px;
    }
    /*  newaccount*/
    .container{
      max-width: 900px;
      margin: 0 auto;
     

  }

  .apply_box{
      max-width: 600px;
      padding: 30px;
      background: white;
      margin: 0 auto;
      margin-top: 50px;
      box-shadow: 10px 5px 4px black;
 
  }
  .tittle{
      font-size: 15px;
      color: blue;
  }
  h1{
     text-align: center;
     color: brown;
     margin-bottom: 20px;
  }
  .form_control{
     margin: 10px;
     gap: 20px;
     display: grid;
     grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
  label{
      font-size: 20px;
       color: brown;
  }
  .button_container{
      
      text-align: end;
     
  }
 button{
      background: rgb(234, 0, 255);
      font-size: 18px;
      color: rgb(166, 255, 0);
      border-radius: 10px;
 
 
 
 
 }
 .applyform{
  background-color: darkblue;
 }
 button:hover{
      font-size: 25px;
      background: green;
      color: blue;
      border-radius: 10px;
 }
 /*belog part*/
 .hero_section{
  display: flex;
  width: 100%;
  background-image: url('../images/background.png');
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items:flex-start
}
.text_container{
 width: 600px;
 height: 400px; 
}
.text_container{
  color: white;
  
  margin: 0 auto; 
  text-align: start;
  padding-left: 40px;
  padding-top: 100px;
  
}
img{
  height: 395px;
  width: 400px
}
.text_heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding: 15px;
  color: rgb(189, 209, 7);
  font-weight: 50px;
}
p{
  font-size: 25px;
  padding: 10px;
  font-weight: 30px;
  color:white;
  letter-spacing: 1.2px;
}
.black_box{
  background: black;
  height: 15vh;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 32px;
  padding-top: 30px;
}
.you{
  font-size: 50px;
  padding-left: 10px;
  color: blue;
}
.card_h{
  display: grid;
  
  background: rgb(243, 221, 224);
  gap: 30px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(400px,1fr));
}
.card{
 max-width: 400px;
 
 height: auto;
 border-radius: 10px;
 box-shadow: 3px 5px 5px rgb(1, 1, 1);
}
.card_image{
 height: auto;
 width: auto;
}
.grid_items{
 margin: 0 100px;
  display: flex;
  margin: 25px 0;
  justify-content: center;
 
 
}
.card_p{
  font-size: 25px;
  padding: 10px;
  font-weight: 30px;
  color:black;
  letter-spacing: 1.2px;
}
h3{
   font-size: 25px;
   color: brown;
   padding-right: 10px;
   text-align: end;
}
